.d-flex{
    display: flex;
}
.dflex-end{
    justify-content: end;
}
.w-100{width: 100%;}
.w-25{width: 25%;}
.w-75{width: 75%;}

.p-bottom{padding-bottom: 0px;}
.p-top{padding-top: 0px;}
.p-top-20{padding-top: 20px;}
.p-0{padding:0px;}

.m-bottom{margin-bottom: 0px;}
.m-top{margin-top: 0px;}
.m-0{margin:0px;}